<div class="m-4">
  <div class="container m-auto text-center">
    <%= image_tag("house.png", class: "img-md") %>
    <h1 class="text-dark">Welcome to Job Scheduler!</h1>
    <p class="lead my-2 max-w-md m-auto leading-normal text-grey-darker text-lg mb-4">Everything you need, in one place.</p>
    <% unless user_signed_in? %>
    <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary my-3" %>
    <% else %>
    <%= link_to "Create a New Lead", new_meeting_path, class:"btn btn-primary my-3 text-white" %>
    <% end %>
  </div>
</div>
<div class="max-w-lg m-auto">
  <div class="py-10 lg:py-16 px-4 flex flex-wrap items-center justify-between">

    <div class="lg:w-1/2 w-full mb-4 lg:mb-0">
      <h3 class="mb-1">Become a pro in no time</h3>
      <p class="leading-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur commodi similique nihil tempore, possimus, sequi unde illum, officia impedit maxime aut obcaecati. Eligendi officia ipsam et optio, tempore.</p>
    </div>

    <div class="lg:w-1/2 w-full text-center">
      <%
=begin%>
 <%= image_tag 'teacher.svg', alt: "Become a pro", width: 400 %> 
<%
=end%>
    </div>
  </div>

  <div class="py-10 lg:py-16 px-4 flex flex-wrap items-center justify-between">
    <div class="lg:w-1/2 w-full mb-4 lg:mb-0">
      <%
=begin%>
 <%= image_tag 'move-forward.svg', alt: "Move forward", width: 320 %> 
<%
=end%>
    </div>

    <div class="lg:w-1/2 w-full">
      <h3 class="mb-1">Move foward with your skills</h3>
      <p class="leading-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur commodi similique nihil tempore, possimus, sequi unde illum, officia impedit maxime aut obcaecati. Eligendi officia ipsam et optio, tempore.</p>
    </div>
  </div>
</div>