<!DOCTYPE html>
<html>
  <head>
    <title>Job Scheduler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.3.min.js'%>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'%>

    <%
=begin%>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
<%
=end%>

    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v3/", 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: "stripe-public-key", content: Rails.application.credentials.stripe_publishable_key %>

  </head>

 <body class="">
  <% flash.each do |type, message| %>
    <% if type == "alert" %>
      <div class="">
        <div class="container text-center"><%= message %></div>
      </div>
    <% end %>
    <% if type == "notice" %>
      <div class="">
        <div class="container text-center"><%= message %></div>
      </div>
    <% end %>
  <% end %>

    <header class="">
      <nav class="navbar bg-light" id="nav_top">
        <a class="navbar-brand" href="/" style="color: black;">Job Scheduler</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <p class="navbar-text ml-3" style="color: #17a2b8 !important">Dalton Roofing</p>
            </li>
        </ul>
        <div class="">
          <div class="user-actions">
            <% unless user_signed_in? %>
            <%= link_to "Login", new_user_session_path, class:"btn btn-default mr-1" %>
            <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default" %>
            <% else %>
            <a class="btn btn-default mr-1 nav-item"><%= current_user.name  %></a>
            <%
=begin%>
 <%= link_to "Users", users_path, class: "btn btn-default mr-2" if admin? %> 
<%
=end%>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn btn-default mr-2 nav-item" %>
            <% end %>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg bg-info" style="padding: 0;">
        <button class="navbar-toggler" style="color: white; border-color: white;" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item nav-action">
              <%= link_to new_meeting_path, class: "nav-link", style: "color:white;" do %>
                <p class="nav-text ml-1">New Lead<i class="fa fa-plus ml-1 mr-1"></i></p>
              <% end %>
            </li>
            <li class="nav-item nav-action">
              <%= link_to dashboard_path, class: "nav-link", style: "color:white;" do %>
                <p class="nav-text ml-1">Dashboard<i class="fa fa-tachometer ml-1 mr-1 nav-icon" aria-hidden="true"></i></p>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <script>
      $(document).ready(function(){

        $(".nav-action").hover(function(){
            $(this).toggleClass('bg-orange');
        });

      });
    </script>
  </body>
</html>

